<div class='span10 offset1' >

	<h1 class='center'>Cara<small> by Pangus Ho</small></h1>

	<legend>
		Enter your text here:
	</legend>
	
	<div class='center'>
		<textarea class='textarea-home' id='input' rows="4"></textarea>
	</div>
	
	<legend>
		Same text in Cara:
	</legend>

</div>

<div class='center'>
	<canvas id="textarea-output" width=900 height=600></canvas>
</div>