<div class='span10 offset1' >

	<h1 class='center'>Cara<small> by Pangus Ho</small></h1>

	<legend>
		Enter your text here:
	</legend>
	
	<div class='center'>
		<textarea class='textarea-home' id='input' rows="4"></textarea>
	</div>
	
	<legend>
		Same text in Cara:
	</legend>

</div>

<div class='span12 center'>

	<div id='options'>

		Font Size:
		<select id='font-size'>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>14</option>
		</select>

		<br>

		Font Style:
		<select id='font-style'>
			<option>sans-serif</option>
			<option>serif</option>
		</select>
		
		<br>

		Font Width:
		<select id='font-width'>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>

		<br>
		
		Font Color:
		<select id='font-color'>
			<option>black</option>
			<option>grey</option>
			<option>red</option>
			<option>blue</option>
		</select>



	</div>

	<canvas id="textarea-output" width=900 height=600></canvas>
</div>