<div class='span6 offset3'>

	<h1 class='center'>Cara<small> by Pangus Ho</small></h1>

	<legend>
		Enter your text here:
	</legend>
	
	<textarea class='textarea-home' id='input' rows="4"></textarea>
	
	<legend>
		Same text in Cara:
	</legend>
	
	<!--<textarea class='textarea-home' id='output' rows="4"></textarea>-->

</div>